<div  class="card bg-dark text-white">
  <img style="height: 400px;" src="../../assets/images/header.jpg" class="card-img" alt="...">
  <div class="card-img-overlay">
    <nav style="margin-top: 30px;" class="navbar navbar-expand-lg navbar-dark bg-dark">
      <div class="container-fluid">
        <a  class="navbar-brand text-white" href="#">SYAM KUMAR S <br>
        <i>full stack developer</i></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div style="margin-left: 15%;" class="collapse navbar-collapse" id="navbarSupportedContent">
          <form class="d-flex">
              <input class="form-control me-2" style="color: white;background-color: black;" type="search" placeholder="Search" aria-label="Search">
              <button class="btn btn-outline-light" type="submit">Search</button>
            </form>
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link active text-white" aria-current="page" routerLink="/">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-white"  routerLink="/about">About</a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-white" routerLink="/sample">Samples</a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-white" routerLink="/contact">Contact</a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle text-white" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Services
              </a>
              <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                <li><a class="dropdown-item" href="#">Web Design</a></li>
                <li><a class="dropdown-item" href="#">Graphic Design</a></li>
                <li><a class="dropdown-item" href="#">Web Development</a></li>
                <li><hr class="dropdown-divider"></li>
                <li><a class="dropdown-item" href="#">Something else here</a></li>
              </ul>
            </li>
            <li class="nav-item">
              <a class="nav-link disabled">Disabled</a>
            </li>
          </ul>
          
        </div>
      </div>
    </nav>
  </div>
</div>

