<div class="py-3" style="background-color: black;">
    <div style="margin-left: 40%;">
        <img  class="mx-3" src="../../assets/images/fb.jpg" alt="">
        <img  class="mx-3" src="../../assets/images/t.png" alt="">
        <img  class="mx-3" src="../../assets/images/tw.png" alt="">
    </div>
    <div style="margin-left: 15%;" class="d-flex">
        <div>
            <a id="link" class="nav-item nav-link mx-3"><b>Links</b> </a>
            <a id="link" routerLink="/contact"class="nav-item nav-link mx-3">Contact</a>
            <a id="link"routerLink="/sample" class="nav-item nav-link mx-3">Samples</a>
            <a id="link" routerLink="/about" class="nav-item nav-link mx-3">About</a>
            <a id="link" routerLink="" class="nav-item nav-link mx-3">Home</a>
        </div>
        <div>
            <a id="link" class="nav-item nav-link mx-3"><b>Links</b> </a>
            <a id="link" routerLink="/contact"class="nav-item nav-link mx-3">Contact</a>
            <a id="link"routerLink="/sample" class="nav-item nav-link mx-3">Samples</a>
            <a id="link" routerLink="/about" class="nav-item nav-link mx-3">About</a>
            <a id="link" routerLink="" class="nav-item nav-link mx-3">Home</a>
        </div>
        <div>
            <a id="link" class="nav-item nav-link mx-3"><b>Links</b> </a>
            <a id="link" routerLink="/contact"class="nav-item nav-link mx-3">Contact</a>
            <a id="link"routerLink="/sample" class="nav-item nav-link mx-3">Samples</a>
            <a id="link" routerLink="/about" class="nav-item nav-link mx-3">About</a>
            <a id="link" routerLink="" class="nav-item nav-link mx-3">Home</a>
        </div>
        <div>
            <a id="link" class="nav-item nav-link mx-3"><b>Links</b> </a>
            <a id="link" routerLink="/contact"class="nav-item nav-link mx-3">Contact</a>
            <a id="link"routerLink="/sample" class="nav-item nav-link mx-3">Samples</a>
            <a id="link" routerLink="/about" class="nav-item nav-link mx-3">About</a>
            <a id="link" routerLink="" class="nav-item nav-link mx-3">Home</a>
        </div>
        <div>
            <a id="link" class="nav-item nav-link mx-3"><b>Links</b> </a>
            <a id="link" routerLink="/contact"class="nav-item nav-link mx-3">Contact</a>
            <a id="link"routerLink="/sample" class="nav-item nav-link mx-3">Samples</a>
            <a id="link" routerLink="/about" class="nav-item nav-link mx-3">About</a>
            <a id="link" routerLink="" class="nav-item nav-link mx-3">Home</a>
        </div>
        <div>
            <a id="link" class="nav-item nav-link mx-3"><b>Links</b> </a>
            <a id="link" routerLink="/contact"class="nav-item nav-link mx-3">Contact</a>
            <a id="link"routerLink="/sample" class="nav-item nav-link mx-3">Samples</a>
            <a id="link" routerLink="/about" class="nav-item nav-link mx-3">About</a>
            <a id="link" routerLink="" class="nav-item nav-link mx-3">Home</a>
        </div>
        <div>
            <a id="link" class="nav-item nav-link mx-3"><b>Links</b> </a>
            <a id="link" routerLink="/contact"class="nav-item nav-link mx-3">Contact</a>
            <a id="link"routerLink="/sample" class="nav-item nav-link mx-3">Samples</a>
            <a id="link" routerLink="/about" class="nav-item nav-link mx-3">About</a>
            <a id="link" routerLink="" class="nav-item nav-link mx-3">Home</a>
        </div>
    </div>
    
    <p style="color: white;text-align: center;">copyright@2021</p>
   
</div>