<div class="container my-5">
    <div class="card bg-dark text-white" style="height: 200px;">
        <img style="height: 500px;" src="../../assets/images/port2.jpg" class="card-img" alt="...">
        <div class="card-img-overlay">
          <h1 class="card-title text-center text-dark">Hello I'm Syam Kumar S <br>
         I'm a full-stack developer</h1>
         
        </div>
      </div>
      <div style="margin-top:400px;">
          <h3 style="color: white;">PROJECTS</h3><br>
          <div class="row row-cols-1 row-cols-md-2 g-4">
            <div class="col">
              <div data-aos="flip-left"  data-aos-duration="3000" class="card">
                <img src="../../assets/images/p4.png" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Card title</h5>
                  <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                </div>
              </div>
            </div>
            <div class="col">
              <div data-aos="flip-right"  data-aos-duration="3000"  class="card">
                <img src="../../assets/images/p2.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Card title</h5>
                  <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                </div>
              </div>
            </div>
            <div class="col">
              <div data-aos="flip-left"  data-aos-duration="3000"  class="card">
                <img src="../../assets/images/p1.png" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Card title</h5>
                  <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content.</p>
                </div>
              </div>
            </div>
            <div class="col">
              <div data-aos="flip-right"  data-aos-duration="3000"  class="card">
                <img src="../../assets/images/p3.jpeg" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Card title</h5>
                  <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                </div>
              </div>
            </div>
          </div>
      </div>
      <br><br>
      <h2 class="text-white">Services</h2>
      <div class="d-flex ">
        
        
         
          <div data-aos="zoom-in" data-aos-duration="3000" class="card text-white bg-danger mb-3 mx-2" style="max-width: 18rem;">
            <div class="card-header">Web Design</div>
            <div class="card-body">
              <h5 class="card-title">Danger card title</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div>
          </div>
          
          <div  data-aos="zoom-in" data-aos-duration="3000" class="card text-dark bg-info mb-3 mx-2" style="max-width: 18rem;">
            <div class="card-header">Graphics Design</div>
            <div class="card-body">
              <h5 class="card-title">Info card title</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div>
          </div>
          <div  data-aos="zoom-in" data-aos-duration="3000" class="card text-dark bg-light mb-3 mx-2" style="max-width: 18rem;">
            <div class="card-header">Web Development</div>
            <div class="card-body">
              <h5 class="card-title">Light card title</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div>
          </div>
          <div  data-aos="zoom-in" data-aos-duration="3000" class="card text-white bg-dark mb-3 mx-2" style="max-width: 18rem;">
            <div class="card-header">Others</div>
            <div class="card-body">
              <h5 class="card-title">Dark card title</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div>
        </div>
      </div>

      <section class="testimonial" style="height: 470px;" >
        <div style="height: 300px;" class="containers">
            <owl-carousel-o   [options]="customOptions">
                <ng-template  carouselSlide>
                   
                    <div class="test-content text-center">
                      <img style="float: left;margin-left: 150px; border-radius: 50%; height: 100px;width: 100px;" src="../../assets/images/1.jpg" alt="">
                        <br><br><br><br><br>
                        <h2>Jack</h2>
                        <h3>Web Designer</h3>
                        <p>"Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo."</p>
    
                    </div>
                </ng-template>  
                <ng-template  carouselSlide>
                   
                    <div class="test-content text-center">
                      <img style="float: left;margin-left: 150px; border-radius: 50%; height: 100px;width: 100px;" src="../../assets/images/2.jpg" alt="">
                      <br><br><br> <br><br>
                      <h2>Joseph</h2>
                        <h3>Web Developer</h3>
                        <p>"Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo."</p>
    
                    </div>
                </ng-template>   
                <ng-template  carouselSlide>
                   
                    <div class="test-content text-center">
                      <img style="float: left;margin-left: 150px; border-radius: 50%; height: 100px;width: 100px;" src="../../assets/images/3.jpg" alt="">
                      <br><br><br><br><br>
                      <h2>William</h2>
                        <h3>Graphic Designer</h3>
                        <p>"Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo."</p>
    
                    </div>
                </ng-template>  
            </owl-carousel-o>
           </div>
    </section>
     
</div>