.containers{
 
    width: 90%;
    margin: 0 auto;
   }
   .testimonial{
      margin-top: 15%;
      background-image: url("../../assets/images/a.jpg");
      background-size: cover;
      background-position: center;
      padding: 20px 0;
      position: relative;
   
   }
   
   
   .test-content h2{
      font-size: 16px;
      color: rgb(7, 7, 7);
      font-weight: 600;
      text-transform: uppercase;
      margin: 18px 0 .5rem;
      line-height: 1.2px;
   }
   .test-content h3{
      font-size: 15px;
      color: rgb(192, 245, 2);
      line-height: 16px;
      margin: 18px 0 10px;
      letter-spacing: 0.4px;
   }
   .test-content{
      position: relative;
      margin: 28px 30% 70px 30%;
      font-style: italic;
      font-size: 18px;
      color: rgb(7, 7, 7);
      line-height: 23px;
      font-weight: bold;
   }